/* Font Section - ( Inter + Arimo ) */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.arimo{
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Universal Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

/* Root Section */
:root {
  --white-color: white;
  --primary-color: #0D1B2A;
  --paragraph-color: #575757;
  --secondary-color: #333333;
  --background-color: #1D4ED8;
}

/* Button Section */

.primary-button {
  background-color: var(--background-color);
  padding: 1rem 2.5rem;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.primary-button:hover {
  background-color: #2563EB;
}

.secondary-button {
  background-color: white;
  color: var(--background-color);
  border: 1px solid var(--background-color);
  border-radius: 10px;
  cursor: pointer;
}
.secondary-button:hover {
  background-color: #f8f9fa;
}


/* Some common styles */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.max-width {
  max-width: 80vw;
  margin: 0 auto;
}

/* Navigation Bar Styles */
nav{
  padding: 1.5rem 0;
}
.nav-links {
  list-style: none;
  gap: 1.7rem;
}
.nav-links a{
  color: var(--paragraph-color);
}
/* Hero Section Styles */
.hero{
  min-height: 100vh;
  background-image:linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.61) 50%, rgba(0, 0, 0, 0) 100%), url('./assets/banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 5rem;
}
.hero-title{
  color: var(--white-color);
  text-align: center;
  font-size: 4.5rem;
  padding: 8.5rem 0 1rem 0;
}
.hero-text{
  color: var(--white-color);
  font-size: 1.2rem;
  opacity: 80%;
  text-align: center;
  max-width: 45vw;
  margin: 0 auto;
}
.hero-btn{
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3rem;
  padding: 1.2rem 3.5rem;
}

/* Speakers Section */
#speakers h2{
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 3rem;
  
}
.speaker-title{
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--background-color);
}
.speaker-name{
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary-color);
  padding: 0.5rem 0;
}
.speaker-affiliation{
  color: var(--paragraph-color);
  font-size: 0.85rem;
}
.speaker-info{
  padding: 1.5rem;
}
.speaker-card{
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.speaker-card img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.speaker-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 10rem;
}
/* Secure Your Spot Section */
.secure-title{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.75rem;
  color: var(--primary-color);
}
.secure-text{
  text-align: center;
  margin-bottom: 3rem;
  color: var(--paragraph-color);
}
/* Secure Card Styles */
.secure-card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10rem;
}
.secure-card{
  padding: 2rem;
  border: 1px solid #E5E7EB;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.159);
}
.secure-card-title{
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--secondary-color);
}
.secure-card-price{
  font-size: 2.75rem;
  font-weight: 700;
  color: var(--primary-color);
  margin: 0.5rem 0;
}
.price-unit{
  font-size: 0.8rem;
  color: var(--paragraph-color);
}
.secure-card hr{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.secure-card-features{
  padding-left: 0.9rem;
}
.secure-card-features li{
  font-size: 0.9rem;
  color: var(--paragraph-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* padding-right: 4rem; */

}
.secure-card-features li::marker{
  color: var(--background-color);
}
.secure-card-btn{
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  text-align: center;
}
/*  Secure Your Spot - card -02 styles */
#pro-card{
  background-color: var(--primary-color);
  color: var(--white-color);
}
#pro-card h5{
  color: #93C5FD;
}
#pro-card h2{
  color: var(--white-color);
}
#pro-card p{
  color: var(--white-color);
  opacity: 50%;
}
#pro-card ul li{
  color: var(--white-color);
  opacity: 80%;
}
#contact-us-btn{
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
